.logout-button {
    padding: 5%;
    width: 100%;
    height: 50%;
    background-color: rgb(247, 61, 61);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5%;
}

.logout-button:hover {
    border: 1px solid red;
    background-color: rgb(255, 118, 118);
    color: white;
}