.login-button-container {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/sky-background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 20%;
    height: 15%;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    border: 1px solid grey;
    background-color: rgba(45, 118, 197, 0.518);
    border-radius: 0%;
}

.login-button:hover {
    background-color: #635dff;
    color: white;
}


.login-text {
    font-weight: lighter;
}